{
  "web": {
    "client_id": "X",
    "project_id": "X",
    "auth_uri": "X",
    "token_uri": "X",
    "auth_provider_x509_cert_url": "X",
    "client_secret": "X",
    "redirect_uris": [
      "<your-cloud-functions-url>/oauthCallback"
    ]
  },
  "slack": {
    "webhook": "X",
    "client_id": "X",
    "client_secret": "X",
    "redirect_uri": "X"
  }
}
